# Data Cleansing - Approach Final

In [1]:
import numpy as np
import pandas as pd
import re
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import cm

%matplotlib inline

In [2]:
pwd

'C:\\Users\\Livia\\Documents\\Data Analytics\\Labs_Final\\Ironhack_LCSM\\Projects'

In [3]:
df = pd.read_csv('global-shark-attacks.zip',encoding='latin1',compression='zip')

In [4]:
df.shape

(25723, 24)

In [5]:
colunas = list(df.columns)
colunas

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

In [6]:
colunas = [nomes.lower() for nomes in colunas]
colunas = [nomes.strip() for nomes in colunas]
colunas

['case number',
 'date',
 'year',
 'type',
 'country',
 'area',
 'location',
 'activity',
 'name',
 'sex',
 'age',
 'injury',
 'fatal (y/n)',
 'time',
 'species',
 'investigator or source',
 'pdf',
 'href formula',
 'href',
 'case number.1',
 'case number.2',
 'original order',
 'unnamed: 22',
 'unnamed: 23']

In [7]:
df.columns = colunas
df.head(1)

,case number,date,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
case number               8702 non-null object
date                      6302 non-null object
year                      6300 non-null float64
type                      6298 non-null object
country                   6252 non-null object
area                      5847 non-null object
location                  5762 non-null object
activity                  5758 non-null object
name                      6092 non-null object
sex                       5737 non-null object
age                       3471 non-null object
injury                    6274 non-null object
fatal (y/n)               5763 non-null object
time                      2948 non-null object
species                   3464 non-null object
investigator or source    6285 non-null object
pdf                       6302 non-null object
href formula              6301 non-null object
href                      6302 non-null object
case number.1             6302 non-null object
case number.2             6302 non-null object
original order            6309 non-null float64
unnamed: 22               1 non-null object
unnamed: 23               2 non-null object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [9]:
df.dropna(axis = 1, thresh = (0.7 * (df.shape[1])), inplace = True)
df

,case number,date,year,type,country,area,location,activity,name,sex,...,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Dropna em colunas com 70% de missing eliminou as colunas unnamed 22 e unnamed 23

In [12]:
df.dropna(axis = 0, thresh = (0.7 * (df.shape[1])), inplace = True)
df

,case number,date,year,type,country,area,location,activity,name,sex,...,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Y,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0
6266,ND.0037,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,...,Y,NaN,"""a black-tipped shark""",G.F. Mead,ND-0037-PearlDiver-sepsis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0037,ND.0037,37.0
6267,ND.0036,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a fisherman / diver,M,...,N,NaN,6' shark,G.F. Mead,ND-0036-Fisherman-SaudiArabia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0036,ND.0036,36.0
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

## Dropna em linhas com mais de 70% de missing values eliminou mais de 20 mil linhas.

In [19]:
df.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Boat', 'Sea Disaster'], dtype=object)

In [27]:
df.replace(to_replace = ['Boat'], value = 'Boating', inplace = True)

In [28]:
df.replace(to_replace = ['Questionable'], value = 'Invalid', inplace = True)

In [46]:
df.type.describe()

count           4138
unique             5
top       Unprovoked
freq            3306
Name: type, dtype: object

In [47]:
df.type.fillna('Invalid', inplace = True)

In [67]:
df.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'COSTA RICA', 'MALDIVES', 'THAILAND', 'BAHAMAS', 'ECUADOR',
       'NEW CALEDONIA', 'MALAYSIA', 'CUBA', 'MAURITIUS', 'NEW ZEALAND',
       'SPAIN', 'JAPAN', 'EGYPT', 'ST HELENA, British overseas territory',
       'REUNION', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES',
       'INDONESIA', 'FRENCH POLYNESIA', 'COLUMBIA', 'Fiji',
       'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'MOZAMBIQUE',
       'PUERTO RICO', 'ST. MARTIN', 'FRANCE', 'ISRAEL',
       'PALESTINIAN TERRITORIES', 'JAMAICA', 'NIGERIA', 'TONGA',
       'SCOTLAND', 'CANADA', 'ITALY', 'TAIWAN', 'ANTIGUA',
       'PAPUA NEW GUINEA', 'RUSSIA', 'SEYCHELLES', 'TURKS & CAICOS',
       'UNITED ARAB EMIRATES (UAE)', 'FIJI', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'GUAM', 'PANAMA', 'CROATIA',
       'SOLOMON ISLANDS', 'NORWAY', 'BELIZE', 'Sierra Leone',
       'ATLANTIC OCEAN', 'ST. MAARTIN', 'GRAND CAYMAN', 'CHINA',
       'VANUATU', 'MEXICO ', 'SRI LANKA', ' TONGA', 'URUGUAY',
       'VENEZUELA', 'INDIA', 'MICRONESIA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'SENEGAL', 'EGYPT / ISRAEL', 'HONG KONG',
       'CHILE', 'SOMALIA', 'EL SALVADOR', 'CARIBBEAN SEA', 'GREECE',
       'KENYA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL', 'PALAU',
       'WESTERN SAMOA', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'BERMUDA',
       'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'PACIFIC OCEAN ',
       'NEW GUINEA', 'FEDERATED STATES OF MICRONESIA',
       'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'MID ATLANTIC OCEAN', 'PERSIAN GULF', 'NORTH PACIFIC OCEAN',
       'NORTH SEA', 'NICARAGUA ', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'PACIFIC OCEAN',
       'NORTH ATLANTIC OCEAN ', 'MONTENEGRO', 'YEMEN', 'THE BALKANS',
       'ARGENTINA', 'IRAN', 'SUDAN', 'SAUDI ARABIA', 'TRINIDAD & TOBAGO',
       'CAPE VERDE', 'GUYANA', 'BARBADOS', 'HAITI', 'SAN DOMINGO',
       'NICARAGUA', 'CYPRUS', 'EGYPT ', 'YEMEN ', 'BRITISH NEW GUINEA',
       'HONDURAS', 'GUINEA', 'SIERRA LEONE', 'CEYLON (SRI LANKA)'],
      dtype=object)